<h1>{{user.firstName}} {{user.surname}}</h1>
<p>Email : {{user.email}}</p>
<p>Date of birth : {{user.dateOfBirth}}</p>
<img src="/uploads/{{user.profilePicture}}" alt="profile picture" />
<br />
<a href="/users/admin"><button>Go back to the admin page</button></a>
<a href="/users/"><button>Home</button></a>